**/android/build/
**/app/build/
*.log
*.tgz
*.xcworkspace/
.ccache/*
!.ccache/ccache.conf
.expo/
.gradle/
.idea/
Pods/
coverage/
/packages/*/*/rnx-build/
/packages/*/bin/
/packages/*/dist/
/packages/*/lib/
/incubator/*/bin/
/incubator/*/dist/
/incubator/*/lib/
/scripts/bin/
/scripts/lib/
local.properties
node_modules/
!**/__fixtures__/**/node_modules/
.DS_Store
