**/android/build/
**/app/build/
*.log
*.tgz
*.xcworkspace/
.DS_Store
.ccache/*
!.ccache/ccache.conf
.expo/
.gradle/
.idea/
.xcode.env*
.yarn/*
!.yarn/plugins/
!.yarn/releases/
/incubator/*/bin/
/incubator/*/dist/
/incubator/*/lib/
/incubator/@react-native-webapis/*/lib/
/packages/*/*.LICENSE.txt
/packages/*/*/rnx-build/
/packages/*/bin/
/packages/*/dist/
/packages/*/ios/build
/packages/*/lib/
/packages/*/macos/build
/packages/template/CHANGELOG.md
/scripts/bin/
/scripts/lib/
Pods/
coverage/
local.properties
node_modules/
!**/__fixtures__/**/node_modules/
