.ccache/*
!.ccache/ccache.conf
.gradle/
.idea/
.xcode.env*
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
/packages/*/*.LICENSE.txt
/packages/*/*/rnx-build/
/packages/*/dist/
/packages/*/ios/DerivedData/
/packages/*/ios/build/
/packages/*/lib/
/packages/*/macos/DerivedData/
/packages/*/macos/build/
/packages/template/CHANGELOG.md
/scripts/bin/
/scripts/lib/
