/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headerBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.headerTitle {
  color: var(--ifm-font-color-base);
  font-weight: 800;
  font-size: 100px;
  line-height: 1;
}

.headerTagline {
  color: var(--ifm-font-color-base);
  font-size: 26px;
}

.headerButton,
.headerLink {
  margin-top: 0.5rem;
}

.headerLink:after {
  content: "›";
  font-size: 20px;
  margin-left: 4px;
}

.headerLink:hover {
  color: var(--ifm-color-primary-lighter);
}

@media screen and (max-width: 996px) {
  .headerTitle {
    font-size: 70px;
  }

  .headerTagline {
    font-size: 22px;
  }
}

@media screen and (max-width: 696px) {
  .headerTitle {
    font-size: 40px;
  }

  .headerTagline {
    font-size: 16px;
  }
}
