/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headerBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .headerBanner {
    padding: 2rem;
  }
}

.headerTitle {
  color: var(--ifm-font-color-base);
  font-weight: var(--ifm-font-weight-bold);
  font-size: 6rem;
}

.headerTagline {
  color: var(--ifm-font-color-base);
  font-size: 1.8rem;
}

.headerButton {
  margin-top: 0.5rem;
}
