name: Build and Publish
on:
  push:
    branches: [main]
jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '***NO_CI***')"
    steps:
      - name: Set up Git
        run: |
          git config --global user.email "53619745+rnbot@users.noreply.github.com"
          git config --global user.name "React Native Bot"
      - name: Set up Node 14
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          ref: main
          token: ${{ secrets.GIT_TOKEN }}
          fetch-depth: 0
      - name: Cache /.yarn-offline-mirror
        uses: actions/cache@v2.1.6
        with:
          path: .yarn-offline-mirror
          key: ${{ hashFiles('yarn.lock') }}
      - name: Install package dependencies
        run: yarn ci
      - name: Build and test packages
        run: yarn build:ci
      - name: Bundle packages
        run: yarn bundle:ci
      - name: Publish
        run: yarn run publish:beachball --yes --token ${{ secrets.NPM_TOKEN }}
