name: CI
on: pull_request
jobs:
  build:
    name: "Build"
    strategy:
      matrix:
        node-version: [14, 15]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Cache /.yarn-offline-mirror
        uses: actions/cache@v2.1.4
        with:
          path: .yarn-offline-mirror
          key: ${{ hashFiles('yarn.lock') }}
      - name: Install package dependencies
        run: yarn ci
      - name: Check for change files
        run: yarn run check
      - name: Build and test packages
        run: yarn build:ci
      - name: Bundle packages
        run: yarn bundle:ci
