name: CI
on: pull_request
concurrency:
  # Ensure single build of a pull request
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  review:
    name: "Review"
    permissions:
      issues: write # comment on PRs (suggestion-bot)
      pull-requests: write # create code reviews (suggestion-bot)
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup the toolchain
        uses: microsoft/react-native-test-app/.github/actions/setup-toolchain@4.4.5
        with:
          node-version: 22
      - name: Deduplicate packages
        run: |
          yarn dedupe --check
      - name: Install npm dependencies
        run: |
          yarn
      - name: Ensure rnx-kit packages come from our repository
        run: |
          yarn tsx --conditions typescript incubator/lint-lockfile/src/index.ts
      - name: Check for change files
        if: ${{ github.actor != 'microsoft-react-native-sdk[bot]' || github.head_ref != 'changeset-release/main' }}
        run: |
          yarn change:check --since origin/${{ github.base_ref }}
      - name: Report formatting problems
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn format
          if [[ -n "$GITHUB_TOKEN" ]]; then
            git diff | yarn suggestion-bot
          fi
          git diff --exit-code
      - name: Report package metadata inconsistencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn constraints --fix
          if [[ -n "$GITHUB_TOKEN" ]]; then
            git diff | yarn suggestion-bot
          fi
          git diff --exit-code
      - name: Report dependency misalignments
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn rnx-align-deps --write
          if [[ -n "$GITHUB_TOKEN" ]]; then
            git diff | yarn suggestion-bot
          fi
          git diff --exit-code
      - name: Report unused dependencies
        run: |
          yarn knip
      - name: Ensure READMEs are up-to-date
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn update-readme
          if [[ -n "$GITHUB_TOKEN" ]]; then
            git diff | yarn suggestion-bot
          fi
          git diff --exit-code
      - name: Report @rnx-kit/build workflow inconsistencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp incubator/build/workflows/github.yml .github/workflows/rnx-build.yml
          if [[ -n "$GITHUB_TOKEN" ]]; then
            git diff | yarn suggestion-bot
          fi
          git diff --exit-code
  build:
    name: "Build"
    permissions: {}
    strategy:
      matrix:
        node-version: [20, 22]
        os: [ubuntu-24.04, windows-2025]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          filter: blob:none
          fetch-depth: 0
      - name: Setup the toolchain
        uses: microsoft/react-native-test-app/.github/actions/setup-toolchain@4.4.5
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install package dependencies
        run: |
          yarn
      - name: Build and test packages
        run: |
          yarn build:ci --base origin/${{ github.base_ref }}
      - name: Bundle packages
        run: |
          yarn bundle:ci --base origin/${{ github.base_ref }}
      - name: Bundle test apps with esbuild
        run: |
          yarn nx affected --base origin/${{ github.base_ref }} --target bundle+esbuild
        shell: bash
  build-android-test-app:
    name: "Build Android"
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          filter: blob:none
          fetch-depth: 0
      - name: Setup the toolchain
        uses: microsoft/react-native-test-app/.github/actions/setup-toolchain@4.4.5
        with:
          platform: android
      - name: Install package dependencies
        run: |
          yarn
      - name: Determine whether the Android app needs to be built
        id: affected-projects
        run: |
          if [[ "$(yarn show-affected --base origin/${{ github.base_ref }})" = *"@rnx-kit/test-app"* ]]; then
            echo 'android=true' >> $GITHUB_OUTPUT
          fi
      - name: Build @rnx-kit/cli
        if: ${{ steps.affected-projects.outputs.android != '' }}
        run: |
          yarn nx build @rnx-kit/cli
      - name: Build Android app
        if: ${{ steps.affected-projects.outputs.android != '' }}
        run: |
          yarn build:android
        working-directory: packages/test-app
  build-ios-test-app:
    name: "Build iOS"
    permissions: {}
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          filter: blob:none
          fetch-depth: 0
      - name: Setup the toolchain
        uses: microsoft/react-native-test-app/.github/actions/setup-toolchain@4.4.5
        with:
          platform: ios
          xcode-developer-dir: /Applications/Xcode_16.4.app
      - name: Install package dependencies
        run: |
          yarn
      - name: Determine whether the iOS app needs to be built
        id: affected-projects
        run: |
          if [[ "$(yarn show-affected --base origin/${{ github.base_ref }})" = *"@rnx-kit/test-app"* ]]; then
            echo 'ios=true' >> $GITHUB_OUTPUT
          fi
      - name: Build @rnx-kit/cli
        if: ${{ steps.affected-projects.outputs.ios != '' }}
        run: |
          yarn nx build @rnx-kit/cli
      - name: Install Pods
        uses: microsoft/react-native-test-app/.github/actions/cocoapods@trunk
        if: ${{ steps.affected-projects.outputs.ios != '' }}
        env:
          RCT_USE_PREBUILT_RNCORE: 1
        with:
          project-directory: ios
          working-directory: packages/test-app
      - name: Build iOS app
        if: ${{ steps.affected-projects.outputs.ios != '' }}
        run: |
          yarn build:ios | xcbeautify
        working-directory: packages/test-app
  build-website:
    name: "Build the website"
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup the toolchain
        uses: microsoft/react-native-test-app/.github/actions/setup-toolchain@4.4.5
        with:
          cache-npm-dependencies: ""
      - name: Install package dependencies (docsite)
        run: |
          yarn
        working-directory: docsite
      - name: Build website
        run: |
          yarn build
        working-directory: docsite
  label:
    name: "Label"
    permissions:
      contents: read
      pull-requests: write
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
        continue-on-error: true
